<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    
    <title>@ViewBag.Title</title>

</head>
<body>
    <div>
        @RenderBody()
    </div>
   
    <script src="~/bootstrap/js/bootstrap.js"></script>
</body>
</html>
